@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.css');
html
button#profile-btn {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 50px;
  border-radius: 10px;
  cursor: pointer;
}


button:hover {
  opacity: 0.8;
}
.feather {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
}
body {
  height: 100%;
  background-color: hsl(0, 1%, 18%);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Jost';
  font-size: 16px;
}

/* Container styles */
.container {
  height: 100vh; /* set the height of the container to 100% of the viewport height */
  width: 50%; /* set the width of the container to 100% */
  box-sizing: border-box; /* include padding and border in the element's total width and height */
  padding: 40px;
  background-color: hsl(0, 0%, 12%);
}


/* Header styles */
.header {
  text-align: center;
  position: relative;
}

.avatar::before {
  content: "Add Avatar +";
  font-size: 16px;
  color: #aaa;
  text-align: center;
  display: block;
  padding-top: 60px; /* adjust the value as needed to center the text */
}
.avatar {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-image: none;
}

.display-name {
  margin-top: 20px;
  font-family: 'Jost';
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
}

.biography {
  margin-top: 10px;
  font-size: 18px;
  color: #666;
}

.hashtags {
  margin-top: 20px;
}

.hashtags span {
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
  border-radius: 20px;
  background-color: #2B2828;
  color: #666;
  font-size: 14px;
}

/* Links styles */
.links {
  margin-top: 30px;
}

.link {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: #2C56EA;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  background-color: #333;
  color: #fff;
}

.link i {
  margin-right: 10px;
}

/* Button styles */
.buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.buttons button {
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #2C56EA;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #333;
  color: #fff;
}

.buttons button:first-child {
  margin-left: 0;
}

/* New styles */
.form-container {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
}

.form-input:focus {
  outline: none;
}


.form-submit {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #2C56EA;
  color: #fff;
  font-weight: 700;
  text-align: center;
  transition: all 0.
}
/* Search bar styles */
.search-bar {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
}

.search-bar button[type="submit"] {
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #2C56EA;
  color: #fff;
  font-weight: 700;
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.search-bar button[type="submit"]:hover {
  background-color: #333;
  color: #fff;
}

.search-bar i {
  margin-right: 10px;
}

.result-box {
  width: calc(100% - 40px);
  /* The width is set to the total width of the container (100%) minus the left and right padding of the search input (20px each) */
  margin-left: 20px;
  margin-top: 50px;
  border-top: 1px solid #999;
  padding: 0;
  overflow-y: auto;
  max-height: 200px;
}

.result-box ul li {
  list-style: none;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  background-color: #1E1E1E;
  color: #333;
  font-size: 16px;
  padding-top: 60px;
  width: 20%;
  box-sizing: border-box;
  transition: background-color 0.2s ease-in-out;
}

.result-box ul li:hover {
  background-color: #e9f3ff;
}